.wine {
    fill: #7c0238;
}

.beer {
    fill: #cc9a04;
}

.spirits {
    fill: #979696;
}





div.tooltip {
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: 45px;					
    padding: 2px;
}

div.tooltip1 {
    position: absolute;			
    text-align: center;			
    width: 45px;					
    height: 12px;					
    padding: 2px;
}


.A{
    color: #979696;
    fill: #979696;
}

.C{
    color: #979696;
    fill: #979696;
}

.E{
    color: #7c0238;
    fill: #7c0238;;
}
.G{
    color: #7c0238;;
    fill: #7c0238;;
}
.K{
    color: #7c0238;;
    fill: #7c0238;;
}
.L{
    color: #7c0238;;
    fill: #7c0238;;
}
.M{
    color: #7c0238;;
    fill: #7c0238;;
}
.P{
    color: #7c0238;;
    fill: #7c0238;;
}


.R{
    color: #cc9a04;
    fill: #cc9a04;
}
.T{
    color: #cc9a04;
    fill: #cc9a04;
}
